body, html {
	/*height: 100%;*/
	margin: 0;
	font-size: 16px;
	background-color: #e3e3e3;
	box-sizing: border-box;
}

.container {
	width: 40%;
	height: 60%;
	background-color: white;
	box-shadow: 0 70px 80px -40px rgba(0, 0, 0, 0.4), 0 5px 20px rgba(0, 0, 0, 0.1);
	position: relative;
}

.section {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-section {
	height: 100vh;
	background-color: black;
}

.header-bg {
	background-image: url("../imgs/mydeskdark.png");
	height: 100vh;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-container {
	display: flex;
	flex-direction: column;
	margin-left: 10%;
	padding-top: 5%;
}

.welcome {
	font-family: 'Kreon', serif;
	color: white;
	font-size: 10em;
	letter-spacing: 5px;
	z-index: 101;
}

.welcome-text {
	font-family: 'Kreon', serif;
	color: white;
	font-size: 2em;
	z-index: 101;
	
}

.scroll {
	color: white;
	position: absolute;
	bottom: 1%;
	width: 100%;
	text-align: center;
	font-size: .8em;
	letter-spacing: 3px;
	font-family: "Open Sans", arial;
}

.fa-arrow-circle-o-down {
	font-size: 1.3em;
}

/*About*/


.about-section {
	background-color: #e8f0f0;
}

.about-title {
	position: absolute;
	left: 55%;
	top: -50px;
	font-size: 4em;
	font-family: 'Shadows Into Light Two', cursive;
	transform: rotate(-10deg);
}

.img-contain img {
	height: 580px;
	width: auto;
	position: absolute;
	top: -50px;
	left: -30px;
	box-shadow: 0 70px 70px -40px rgba(0, 0, 0, 0.4), 0 5px 20px rgba(0, 0, 0, 0.1);
}

.about-content {
	max-width: 400px;
	position: absolute;
	left: 45%;
	top: 50px;
	font-family: "Open Sans", arial;
	font-size: 1.1em;
	line-height: 300%;
}




/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
	.img-contain img {
		height: 400px;
		width: auto;
	}
	.about-content {
		font-size: .9em;
		line-height: 250%;
		left: 40%;
	}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
	.img-contain img {
		height: 580px;
		width: auto;
	}
	.about-content {
		font-size: .9em;
		line-height: 250%;
		left: 40%;
	}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

